*node_modules/*

logs
*.log
*.logs

coverage
mocha-coverage

# development specific data
.env
applications/web/src/index.html
index.html
applications/api/lowdb/*

# artifacts
.idea
.eslintcache
applications/web/build/*
cypress/videos
cypress/screenshots
.nyc_output/*
cypress/snapshots/actual
cypress/snapshots/diff
**/dist/*
