*node_modules/*

logs
*.log
*.logs

coverage

# development specific data
.env
applications/web/src/index.html
index.html
applications/api/lowdb/*

# artifacts
.idea
.eslintcache
applications/web/build/*
cypress/videos
cypress/screenshots
.nyc_output/*
cypress/snapshots/actual
cypress/snapshots/diff
**/dist/*

# yarn
# reference (using Zero-Installs version): https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
