<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style rel="stylesheet">
    #application-mount {
      background-color: #222222;
    }
  </style>
</head>
<body>
<script type="text/javascript">
  // in production, the backend should in injecting this data so that we don't have to store this data in source
  // control
  window.globalConfiguration = {
    auth0Domain: 'domain',
    auth0ClientId: 'clientId',
    audience: 'audience',
  };
</script>
<div id="application-mount"></div>
<script type="module" src="/applications/web/src/entry.tsx"></script>
</body>
</html>
